FileUploader/FileUpload.Utility/Service References/CacheFileUploadService/FUS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s0="http://tempuri.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
      <s:element name="ParseFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="FileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ParseFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="ParseFileResult" type="s0:ArrayOfErrorMessageErrorMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfErrorMessageErrorMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ErrorMessage" nillable="true" type="s0:ErrorMessage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ErrorMessage">
        <s:sequence>
          <s:element name="Id" type="s:long" />
          <s:element minOccurs="0" name="MessageText" type="s:string" />
          <s:element minOccurs="0" name="RowStatus" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="Test">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="TestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ParseFileSoapIn">
    <wsdl:part name="parameters" element="s0:ParseFile" />
  </wsdl:message>
  <wsdl:message name="ParseFileSoapOut">
    <wsdl:part name="parameters" element="s0:ParseFileResponse" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="s0:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="s0:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="FileUploadServiceSoap">
    <wsdl:operation name="ParseFile">
      <wsdl:input message="s0:ParseFileSoapIn" />
      <wsdl:output message="s0:ParseFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input message="s0:TestSoapIn" />
      <wsdl:output message="s0:TestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FileUploadServiceSoap" type="s0:FileUploadServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ParseFile">
      <soap:operation soapAction="http://tempuri.org/FUS.FileUploadService.ParseFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/FUS.FileUploadService.Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileUploadService">
    <wsdl:port name="FileUploadServiceSoap" binding="s0:FileUploadServiceSoap">
      <soap:address location="http://10.94.23.31:57772/csp/user/FUS.FileUploadService.cls" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>