WebDesign/JavaScript-Applications/09.ConsumingRemoteData/Homework/SOAPTest/Service References/ServiceReference1/TEST.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s0="http://tempuri.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <import namespace="http://tempuri.org/GetAllPersons_DataSet" location="http://SRV-CACHE-APP:1972/app/TEST.LukoilTestService.GetAllPersons.DS.cls?XSD" />
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
      <s:import namespace="http://tempuri.org/GetAllPersons_DataSet" />
      <s:element name="SetNewPerson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="firstName" type="s:string" />
            <s:element minOccurs="0" name="secondName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetNewPersonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="SetNewPersonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="TestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPersons">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="GetAllPersonsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="GetAllPersonsResult" type="s0:GetAllPersons_DataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetAllPersons_DataSet">
        <s:sequence>
          <s:any namespace="http://tempuri.org/GetAllPersons_DataSet" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="SetNewPersonSoapIn">
    <part name="parameters" element="s0:SetNewPerson" />
  </message>
  <message name="SetNewPersonSoapOut">
    <part name="parameters" element="s0:SetNewPersonResponse" />
  </message>
  <message name="TestSoapIn">
    <part name="parameters" element="s0:Test" />
  </message>
  <message name="TestSoapOut">
    <part name="parameters" element="s0:TestResponse" />
  </message>
  <message name="GetAllPersonsSoapIn">
    <part name="parameters" element="s0:GetAllPersons" />
  </message>
  <message name="GetAllPersonsSoapOut">
    <part name="parameters" element="s0:GetAllPersonsResponse" />
  </message>
  <portType name="LukoilTestServiceSoap">
    <operation name="SetNewPerson">
      <input message="s0:SetNewPersonSoapIn" />
      <output message="s0:SetNewPersonSoapOut" />
    </operation>
    <operation name="Test">
      <input message="s0:TestSoapIn" />
      <output message="s0:TestSoapOut" />
    </operation>
    <operation name="GetAllPersons">
      <input message="s0:GetAllPersonsSoapIn" />
      <output message="s0:GetAllPersonsSoapOut" />
    </operation>
  </portType>
  <binding name="LukoilTestServiceSoap" type="s0:LukoilTestServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="SetNewPerson">
      <soap:operation soapAction="http://tempuri.org/TEST.LukoilTestService.SetNewPerson" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Test">
      <soap:operation soapAction="http://tempuri.org/TEST.LukoilTestService.Test" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetAllPersons">
      <soap:operation soapAction="http://tempuri.org/TEST.LukoilTestService.GetAllPersons" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="LukoilTestService">
    <port name="LukoilTestServiceSoap" binding="s0:LukoilTestServiceSoap">
      <soap:address location="http://SRV-CACHE-APP:1972/app/TEST.LukoilTestService.cls" />
    </port>
  </service>
</definitions>